[submodule "lib/Step"]
	path = lib/Step
	url = https://github.com/creationix/step
[submodule "lib/Async"]
	path = lib/Async
	url = https://github.com/caolan/async
[submodule "lib/Mongolian"]
	path = lib/Mongolian
	url = https://github.com/marcello3d/node-mongolian
[submodule "lib/MongoDb/MongoDbWrapper"]
	path = lib/MongoDb/MongoDbWrapper
	url = https://github.com/idottv/node-mongodb-wrapper
[submodule "lib/MongodbWrapper"]
	path = lib/MongodbWrapper
	url = https://github.com/idottv/node-mongodb-wrapper
[submodule "lib/mongodb"]
	path = lib/mongodb
	url = https://github.com/christkv/node-mongodb-native.git
